.navbar-header {
  padding-top: 1rem;
  color: #fff;
  position: relative;
  z-index: 3000;
  &__container {
    justify-content: space-evenly;
    align-items: center;
    width: 80% !important;
  }

  &__title {
    h3 {
      font-size: 2rem;
      font-weight: 500 !important;
    }

    img {
      width: 3rem;
    }
  }

  &__list {
 
    ul {
      list-style: none;
      cursor: pointer;
    
      
      @media (max-width: 1100px) {
        position: absolute;
        left: 0;
        top: 3.2rem;
        background-color: $c-primary-dark;
        width: 50%;
        z-index: 5000;
        padding: 1rem;
    }
    }
    li {
      display: inline-block;
      @media (max-width: 1100px) {
        display: block;
     
    }
      margin-right: 0.8rem;
      margin-left: 0.6rem;

      margin-top: 0.6rem;
      font-weight: 400;
    }
  }

  &__buttons {
    @media (min-width: 1100px) {
      display: block;
   
  }
    @media (max-width: 1100px) {
      position: absolute;
      left: 0;
      top: 0;
      padding: 1.1rem;
      background-color: $c-primary-dark;
      width: 50%;
      z-index: 5000;

  }
  @media (max-width: 1100px) {
    margin-left: 0;
  }
    margin-left: 1rem;
    a {
      text-decoration: none;
      border: 3px solid rgb(255, 255, 255);
      border-radius: 4px;
      font-size: 1rem;
      padding: 0.5rem 2.2rem;
      color: #fff;
      font-weight: 500;
    }
    .sign-up {
      padding: 0.6rem 2.11rem;
      background: $linear-gradient;
      border: none;

      color: #fff;
    }
  }
}


.list {
  width: 3rem;
  cursor: pointer;
  display: none;
  @media (max-width: 1100px) {
    display: block;

}
}


.close {
  width: 3rem;
  display: none;
  cursor: pointer;
  @media (max-width: 1100px) {
    display: block;
    position: absolute;
    left: 45%;
    z-index: 6000;

}
}

