.partners {
    background-color: $c-primary-dark;
    color: #fff;
    padding: 5rem 0;
    &__header {
        margin-bottom: 4rem;
        p {
            font-weight: 500;
            letter-spacing: 2px;

        }
       h3 {
           line-height: 1rem;
           font-weight: 600;
           letter-spacing: 1px;

       }
    }

    &__icons {
        img {
            margin-bottom: 1.5rem;
            width: 15rem;
        }
    }
}