.partners {
    background-color: $c-primary-dark;
    color: #fff;
    padding: 5rem 0;
    &__header {
        margin-bottom: 3.5rem;
        p {
            font-weight: 500;
        }
       h3 {
           line-height: 1rem;
           font-weight: 600;
       }
    }

    &__icons {
        img {
            margin-bottom: 1.5rem;
            width: 11rem;
        }
    }
}