$c-primary: #10144f;
$c-primary-dark: #080c49;
$c-primary-light: #10205c;
$c-secondary: #ec844d;
$linear-gradient: linear-gradient(to right, $c-secondary, #eb535a);

$pyramid-color1 : #C04297;
$pyramid-color2 : #5CA1CB;
$pyramid-color3 : #8FB02A;
$pyramid-color4 : #EDBC5E;